*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  pointer-events: none;
}

:root {
  /* fonts */
  --fs-100: clamp(0.65rem, calc(0.63rem + 0.25vw), 0.72rem);
  --fs-200: clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
  --fs-300: clamp(0.94rem, calc(0.84rem + 0.51vw), 1.2rem);
  --fs-400: clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
  --fs-500: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
  --fs-600: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* colors in HSL*/ 
  --accent: 173 58% 39%; /* #2a9d90 */
  --lighter: hsla(20, 60%, 16%, 0.5);
  --bkg: 38 100% 98%;
  --cardBkg: 0 0% 100%;
  --text : 20 60% 16%; /* #412110 */
  --muted: 20 60% 16%;
  --light: 180 14% 85%;
  --warning: 4 66% 63%;

  /* Useful link: https://www.w3schools.com/colors/colors_converter.asp */

  /* utils */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;
  --content-sm: 60ch;
  --content: 80ch;
  --round-sm: 4px;
  --round-md: 10px;
  --round-lg: 25px;
  --round-full: 100vmax;

  /* toast customizations */
  --toastify-color-success: hsl(var(--accent));
  /* --toastify-font-family: 'M PLUS Rounded 1c', sans-serif; */
  --toastify-font-family: font-family: 'Quicksand', sans-serif;
  --toastify-font-size: var(--fs-100) !important;
}

body {
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  font-size: var(--fs-400);
  line-height: var(--lh-1-4);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: hsl(var(--bkg));
  color: hsl(var(--text));
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: var(--lh-1);
}

h1,
.h1 {
  font-size: var(--fs-600);
  font-weight: bold;
}

h2,
.h2 {
  font-size: var(--fs-500);
}

h3,
.h3 {
  font-size: var(--fs-400);
}

small {
  font-size: var(--fs-200);
  line-height: var(--lh-1);
}

p {
  max-width: var(--content);
}

/* color utils */

.textReducedOpacity {
  color: rgb(65, 33, 16, 0.45);
}

.accent {
  color: hsl(var(--accent));
}

.muted {
  color: hsl(var(--muted));
}

/* links and buttons */

:where(a, .btn) {
  --color: hsl(var(--text));
  --backdrop: hsl(var(--accent));
  font: inherit;
  color: var(--color);
  border-radius: var(--round-sm);
  -webkit-transition: -webkit-box-shadow 300ms
    cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: -webkit-box-shadow 300ms
    cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

:where(a, .btn):focus {
  outline: none;
}

:where(a, .btn):is(:hover, :focus-visible) {
  -webkit-box-shadow: 0 0 0 3px hsl(var(--bkg)), 0 0 0 6px var(--backdrop);
  box-shadow: 0 0 0 3px hsl(var(--bkg)), 0 0 0 6px var(--backdrop);
}

/* Styling for all buttons */

:where(.btn) {
  --color: hsl(var(--bkg));
  background-color: var(--backdrop);
  color: var(--color);
  padding: var(--space-xs) var(--space-sm);
  border: 2px solid var(--backdrop);
  font-size: var(--fs-300);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--space-xs);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
}

:where(.btn):is(:hover, :focus-visible) {
  background-color: var(--backdrop);
  color: var(--color);
}

:where(.btn--dark) {
  --backdrop: hsl(var(--text));
}

:where(.btn--outline) {
  background-color: var(--color);
  color: var(--backdrop);
  border: 2px solid var(--backdrop);
}

:where(.btn--outline):is(:hover, :focus-visible) {
  --backdrop: var(--outline);
  --color: hsl(var(--bkg));
  outline: 0px solid var(--outline);
}

:where(.btn--warning) {
  --backdrop: hsl(var(--warning) / 0.1);
  border: 2px solid hsl(var(--warning));
  --color: hsl(var(--warning));
}

:where(.btn--warning):is(:hover, :focus-visible) {
  --backdrop: hsl(var(--warning));
  --color: hsl(var(--bkg));
}

.btn[disabled] {
  opacity: 0.5;
}


/* utility layouts */

.flex-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-lg);
}

.flex-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-md);
}

.flex-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: var(--space-sm);
}

.grid-lg {
  display: -ms-grid;
  display: grid;
  gap: var(--space-lg);
  width: 100%;
}

.grid-md {
  display: -ms-grid;
  display: grid;
  gap: var(--space-md);
  width: 100%;
}

.grid-sm {
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  width: 100%;
}

.grid-xs {
  display: -ms-grid;
  display: grid;
  gap: var(--space-xs);
  width: 100%;
}

[hidden] {
  display: none;
}

/* main layout */
.layout {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;

  margin-top: calc(3 * var(--space-lg)); /* To give margin for the NavBar */
}

.layout > img {
  width: 100%;
}

main {
  max-width: 1500px;
  width: 100%;
  padding: var(--space-md) var(--space-md) var(--space-xl);
  margin-inline: auto;
  display: -ms-grid;
  display: grid;
  place-items: start;
}

/* navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: var(--space-md);
  max-width: 1500px;
  margin-inline: auto;
  position: fixed;
  z-index: 999;

  top: 0;
  left: 0;
  right: 0;
}

.navbar.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--space-xs);
  padding: var(--space-xs);
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 525px) {
  .navbar a span {
    display: none;
  }

  .navbar button span {
    display: none;
  }
}

/* forms */
label {
  font-size: var(--fs-300);
  font-weight: bold;
}

input {
  width: 100%;
  font: inherit;
  font-size: var(--fs-300);
  background-color: hsl(var(--cardBkg));
  border: 2px solid hsl(var(--muted));
  border-radius: var(--round-sm);
  padding: var(--space-xs) var(--space-sm);
  height: 98%;
  -webkit-transition: -webkit-box-shadow 300ms
    cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: -webkit-box-shadow 300ms
    cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

:is(input):focus {
  outline: none;
  border-color: hsl(var(--accent));
  -webkit-box-shadow: 0 0 0 1px hsl(var(--accent));
  box-shadow: 0 0 0 1px hsl(var(--accent));
}

select {
  width: 100%;
  font: inherit;
  font-size: var(--fs-300);
  background-color: hsl(var(--cardBkg));

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) 50%, /* Half Left side of arrow */
    calc(100% - 15px) 50%, /* Half Right side of arrow */
    calc(100% - 3.5ch) 50%; /* Vertical Line position */
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;

  border: 2px solid hsl(var(--muted));
  border-radius: var(--round-sm);
  padding: var(--space-xs) var(--space-sm);
  height: 98%;
  -webkit-transition: -webkit-box-shadow 300ms
    cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: -webkit-box-shadow 300ms
    cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:is(select):focus{
  outline: none;
  border-color: hsl(var(--accent));
  -webkit-box-shadow: 0 0 0 1px hsl(var(--accent));
  box-shadow: 0 0 0 1px hsl(var(--accent));

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image:
    linear-gradient(45deg, hsl(var(--accent)) 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, hsl(var(--accent)) 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 50%, /* Half Right side of arrow */
    calc(100% - 20px) 50%, /* Half Left side of arrow */
    calc(100% - 3.5ch) 50%; /* Vertical Line position */
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

/* Landing Page */
.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--space-lg);
}

.underline {
  text-decoration: underline;
}

.floating { 
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -50px); }
  100%   { transform: translate(0, -0px); }   
}

.landing div {
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  /* max-width: var(--content); */
  max-width: 50ch;
}

.landing form {
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  /* max-width: 25ch; */
  max-width: 40ch;
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0;
  animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}
  
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking {
  0% {border-color: transparent}
  50% {border-color: black}
  100% {border-color: transparent}
}

/* dashboard */
.dashboard {
  display: -ms-grid;
  display: grid;
  gap: var(--space-lg);
  place-items: start;
  width: 100%;
}

.dashboardHeading{
  /* display: flex; */
  justify-content: space-between;
  /* align-items: baseline; */
}

.dashboardHeading h1{
  margin: 0;
}

.dashboardHeading h3{
  margin: 0;
}

.introText {
  margin-bottom: 20px;
  margin-left: 10px;
}

/* form */
.form-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 48%;
  flex: 1 1 48%;
  max-width: 1000px;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  /* background-color: var(--cardBkg); */
  background-color: white;
  padding: var(--space-xl);
  border-radius: var(--round-lg);
  -webkit-box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.5);
  border-top: 0.25em solid #432211;
  border-left: 0.25em solid #432211;
  border-right: 0.25em solid #432211;
  border-bottom: 0.25em solid #432211;
}

/* .form-wrapper::before {
  content: "";
  position: absolute;
  inset: 0.55rem;
  border: 2px solid #432211;
  border-radius: calc(var(--round-lg) * 0.6);
  z-index: -1;
} */

.form-wrapper:hover {
  transition: 0.3s ease;
  transform: scale(1.03);
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--space-md);
}

.expense-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--space-md);
}

@media screen and (max-width: 725px) {
  .expense-inputs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

/* budgets */
.budgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: var(--space-md);    
  justify-content: space-between;
}

.budget {
  --backdrop: var(--accent);
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 32.2%;
  flex: 1 1 32.2%;
  /* max-width: 600px; */
  max-width: 680px;
  -webkit-box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  box-shadow: 0.25em 0.3em 1em hsl(var(--muted) / 0.2);
  background-color: white;
  border-radius: var(--round-lg);
  border: 3px solid hsl(var(--backdrop));
  padding: calc(var(--space-md) / 1.5) calc(var(--space-md) / 1.2);
  gap: var(--space-sm);
  text-decoration: none;
  color: hsl(var(--backdrop));
  /* cursor: pointer; */
}

.budget:hover {
  transition: 0.3s ease;
  transform: scale(1.03);
}

.budget > .flex-sm {
  padding-top: var(--space-sm);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.progress-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: var(--space-lg);
}

.progress-text :nth-child(2) {
  text-align: right;
}

.progress-text:nth-of-type(2) :nth-child(2) {
  color: hsl(var(--muted));
  /* color: hsl(173 58% 39%); */
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: var(--space-sm);
  border-radius: 100vmax;
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

progress[value]::-webkit-progress-bar {
  background-color: hsl(var(--light));
}

progress[value]::-moz-progress-bar {
  -moz-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: hsl(var(--backdrop));
}

progress[value]::-webkit-progress-value {
  background-color: hsl(var(--backdrop));
  -webkit-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* error pages */
.error {
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
  gap: var(--space-lg);
  padding-block: var(--space-lg);
  text-align: center;
}

/* Chart component */
.table {
  overflow-x: auto;
}

table {
  width: 100%;
}

/* Colour for each odd row of the table*/
tr:nth-child(odd) {
  background-color: hsl(var(--text) / 0.1);
}

tr:nth-child(even) {
  background-color: hsl(var(--text) / 0.02);
}

td {
  border: none;
  font-size: var(--fs-200);
}

thead > tr:nth-child(odd) {
  background-color: hsl(var(--bkg));
}

td,
th {
  text-align: center;
  padding: var(--space-xs);
}

table .btn {
  margin-inline: auto;
}

table a {
  text-decoration: none;
  color: hsl(var(--bkg));
  background-color: hsl(var(--accent));
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--round-full);
}

/* toast */
.Toastify__toast-body {
  font-size: var(--fs-300);
}

/* Calculator */
.calculatorWrapper {
  position: absolute;
  z-index: 100;
  position: fixed;

  right: -2ch; /* Start from outside the window */
  transition: all 0.5s ease-in-out; /* Transition duration and timing function */
  opacity: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 21ch;
  height: 35ch;
  padding: 10px;
  border-radius: 10px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

  box-shadow: 2px 12px 24px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.calculatorWrapper.visible{
  right: 2ch;
  opacity: 1;
}

.calculatorWrapper.hidden {
  right: -20ch;
  opacity: 0;
  transform: translateY(100%);
}

.calculatorScreen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #4357692d;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.calculatorButtonBox{
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  border-radius: 10px;
}

.calculatorButtons {
  border: none;
  background-color: hsl(var(--accent));
  font-size: 24px;
  color: hsl(var(--light));
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}

.calculatorButtons:hover {
  background-color: #1b786d;
}

.equals {
  grid-column: 3 / 5;
  background-color: hsl(var(--light));
  border-radius: 10px;
  border: none;
  outline: none;
}

.equals:hover {
  background-color: #b9c2c2;
}


/* About Us Page styling */
.about-us {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--space-lg);
}

.about-us div{
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  /* max-width: var(--content); */
  max-width: 50ch;
}

.left-section {
  width: 85%;
  /* padding-right: 2ch; */
}

.right-section {
  align-items: center;
  width: 55%;
}

.about-us h1 {
  font-size: var(--fs-500);
  font-weight: bold;
  margin-bottom: 1ch;
}

.about-us h1:hover{
  transition: 0.5s;
  margin-left: 0.8ch;
}

.about-us h2 {
  font-size: var(--fs-400);
  font-weight: bold;
  margin-top: 3ch;
  margin-bottom: 1ch;
}

.about-us h2:hover{
  transition: 0.5s;
  margin-left: 0.8ch;
}

.about-us p {
  font-size: var(--fs-300);
  line-height: 1.5;
  margin-bottom: 1ch;
  text-align: justify;
}

.feedback {
  max-width: 100%;
}

.about-us form {
  display: -ms-grid;
  display: grid;
  gap: var(--space-sm);
  /* max-width: 25ch; */
  max-width: 100ch;
}

.message {
  width: 100%;
  font: inherit;
  font-size: var(--fs-300);
  background-color: hsl(var(--cardBkg));
  border: 2px solid hsl(var(--muted));
  border-radius: var(--round-sm);
  padding: var(--space-xs) var(--space-sm);
  height: 250px;
  -webkit-transition: -webkit-box-shadow 300ms
    cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: -webkit-box-shadow 300ms
    cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-box-shadow 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.message:focus {
  outline: none;
  border-color: hsl(var(--accent));
  -webkit-box-shadow: 0 0 0 1px hsl(var(--accent));
  box-shadow: 0 0 0 1px hsl(var(--accent));
}

.about-us img {
  max-width: 100%;
  height: auto;
}

.floating-v2 { 
  animation-name: floating-v2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating-v2 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, -50px); }
  100%   { transform: translate(0, -0px); }   
}